body {
  margin: 0;
  font-family: "Times New Roman", serif;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: green;
  padding-top: 20px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
 
}

.sidebar a:hover {
  background-color: #004d00;
}

.sidebar a.active {
  color: red;

}

.content {
  margin-left: 220px;
  padding: 20px;
}

.content h1 {
  font-size: 28px;
  font-weight: bold;
}

.content p {
  font-size: 16px;
  text-align: justify;
}
